@charset "utf-8";
/* CSS Document */

h1 {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";	
}

p {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	font-size: 20px;
}